.u-section-1 .u-sheet-1 {
  min-height: 972px;
}

.u-section-1 .u-image-1 {
  width: 361px;
  height: 361px;
  background-image: url("images/MyDP.jpg");
  background-position: 50% 50%;
  margin: 111px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  font-style: normal;
  font-size: 2.25rem;
  width: 749px;
  margin: 54px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: normal;
  width: 749px;
  margin: 43px auto 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 50px;
  min-height: 16px;
  width: 215px;
  min-width: 79px;
  margin: 36px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  border-style: none;
  margin: 43px auto 60px;
  padding: 18px 43px 19px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(33, 33, 33) !important;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 716px;
}